body{
	background: #ccc;
	margin-bottom: 10px;
} 
.wrapper{
	background: #fff; 
	width: 600px; 
	margin: 10px auto; 
	box-shadow: 0 0 10px #777;
	}

p,a{
	margin: 10px;
}
.end{
	padding-bottom: 10px;
}