*{
	margin: 0;
	padding: 0;
}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

.wrapper{
	width: 1000px;
	margin: 0 auto;
}

.header{
    margin: 22px 52px 0px;	
}

.contacts{
	font-family: Arial;
	font-size: 18px;
	color: #434c4e;
	float: left;
	margin: 0px 8px 0px 0px;
}

.contacts img{
	margin: 4px 0px -5px 0px;
}

.login{
	width: 495px;
	height: 25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,0d3458+0,1f6685+100,7db9e8+100,1f6685+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #0d3458 0%, #1f6685 100%, #7db9e8 100%, #1f6685 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#0d3458 0%,#1f6685 100%,#7db9e8 100%,#1f6685 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#0d3458 0%,#1f6685 100%,#7db9e8 100%,#1f6685 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    float: left;
	margin-left: 17px;
	font-family: Lucida Sans;
	font-size: 11px;
	color: white;
	border-radius: 4px;
    box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}

.login input{
	margin-top: 4px;
	margin-left: 6px;
}

.login .colon{
	margin-left: 24px;
}

.login a{
	color: white;
	text-decoration: none;
}

.login .enter{
	margin-left: 8px;
}

.login .zabili{
	margin-left: 18px;
	text-decoration: underline;
	color: #BFBFBF;
}

.man{
	position: absolute;
	top: 27px;
	left: 540px;
	width: 13px;
	height: 18px;
}

.vidget{
	margin-left: 15px;

}

.fone{
	margin-top: 10px;
}

.sidebar{
	margin: 1px 51px 0;
}

.menu{
    position: relative;
    width: 910px;
    height: 30px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2d3236+0,050506+100,7db9e8+100,050506+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2d3236 0%, #050506 100%, #7db9e8 100%, #050506 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2d3236 0%,#050506 100%,#7db9e8 100%,#050506 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#2d3236 0%,#050506 100%,#7db9e8 100%,#050506 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 4px; 
    -khtml-border-radius: 9px;
    text-align: center;
    border: 1px #2c345a solid;
    box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
}

.menu a{
	color: #b1bcc0;
	display: block;
	font-size: 14px;
	text-decoration: none;
	font-family: Lucida Sans;
	padding: 5px;
}

.menu li{
	float: left;
	height: 30px;
	width: 109px;
	list-style: none;
}

.menu li:hover{
	background: #124569;
    border-radius: 20px;  
}

.menu a:hover{
	color: white;   
}

.menu ul{
	margin-left: 125px;
	
}

.tovar{
	font-size: 11px;
	font-family: Arial Regular;
	color: #929b9f;
}

.summa{
	font-size: 11px;
	font-family: Arial Regular;
	color: #929b9f;
}

.nol{
	font-size: 12px;
	font-family: Arial Regular;
	color: #0d5a8f;
}

.nool{
	font-size: 12px;
	font-family: Arial Regular;
	color: #0d5a8f;
}

.kupit{
    padding-top: 4px;
    float: right;
    margin-right: 14px;
}

.korzina{
	position: absolute;
	left: 714px;
	top: 6px;
	
}

.content{
	margin: 10px 40px 0px 47px;
}

.left{
	float: left;
	width: 192px;
}

.catalog{
	position: relative;
	width: 185px;
	float: left;
	border: 1px solid #8b979c;
    border-radius: 15px;
    height: 25px;
    box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}

.catalog img{
	margin-left: 5px;
	padding-top: 2px;
}

.catalog a{
	font-size: 13px;
	text-decoration: none;
	font-family: Lucida sans;
	color: #114165;
}

.ct{
	position: absolute;
	padding: 2px;
	margin-top: 1px;
}

.shini{
	position: relative;
	margin-top: 13px;
	float: left;
	width: 148px;
	height: 27px;
	border: 1px solid #8b979c;
    border-radius: 15px;
}

.shini img{
	margin-left: 6px;
	padding-top: 2px;
}

.shini a{
	font-size: 13px;
	text-decoration: none;
	font-family: Lucida sans;
	color: #114165;
}

.shina{
	position: absolute;
	padding: 2px;
	margin-top: 3px;
}

.shini li{
	padding: 3px;
	position: relative;
	margin-left: 34px;
	text-decoration: none;
	font-size: 13px;
	font-family: Lucida sans;
	list-style-image: url(../img/krugli.png);
}

.shini li:hover{
	list-style-image: url(../img/kruglihover.png);
}

.shini a:hover{
	text-decoration: underline;
	font-style: italic;
	font-size: 14px;
	font-weight: bold;
}

.diski{
	position: relative;
	margin-top: 89px;
	float: left;
	width: 148px;
	height: 27px;
	border: 1px solid #8b979c;
    border-radius: 15px;
}

.diski img{
	margin-left: 6px;
	padding-top: 2px;
}

.diski a{
	font-size: 13px;
	text-decoration: none;
	font-family: Lucida sans;
	color: #114165;
}

.disk{
	position: absolute;
	padding: 2px;
	margin-top: 3px;
}

.diski li{
	padding: 3px;
	position: relative;
	margin-left: 34px;
	text-decoration: none;
	font-size: 13px;
	font-family: Lucida sans;
	list-style-image: url(../img/krugli.png);
}

.diski a:hover{
	text-decoration: underline;
	font-style: italic;
	font-size: 14px;
	font-weight: bold;
}

.diski li:hover{
	list-style-image: url(../img/kruglihover.png);
}

.bolti{
	position: relative;
	margin-top: 89px;
	float: left;
	width: 148px;
	height: 27px;
	border: 1px solid #8b979c;
    border-radius: 15px;
}

.bolti img{
	margin-left: 6px;
	padding-top: 2px;
}

.bolti a{
	font-size: 13px;
	text-decoration: none;
	font-family: Lucida sans;
	color: #114165;
}

.bolt{
	position: absolute;
	padding: 2px;
	margin-top: 3px;
}

.bolti li{
	padding: 3px;
	position: relative;
	margin-left: 34px;
	text-decoration: none;
	font-size: 13px;
	font-family: Lucida sans;
	list-style-image: url(../img/krugli.png);
}

.bolti a:hover{
	text-decoration: underline;
	font-style: italic;
	font-size: 14px;
	font-weight: bold;
}

.bolti li:hover{
	list-style-image: url(../img/kruglihover.png);
}

.right{
	width: 192px;
	float: right;
}

.brands{
	position: relative;
	width: 185px;
	float: left;
	border: 1px solid #8b979c;
    border-radius: 15px;
    height: 25px;
    box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}

.br{
	position: absolute;
	padding: 2px;
	margin-top: 1px;
}

.brands a{
	font-size: 13px;
	text-decoration: none;
	font-family: Lucida sans;
	color: #114165;
}

.brands img{
	margin-left: 5px;
	padding-top: 2px;
}

.shiniright{
	position: relative;
	margin-top: 13px;
	margin-left: 15px;
	float: left;
	width: 148px;
	height: 27px;
	border: 1px solid #8b979c;
    border-radius: 15px;
}

.shiniright img{
	margin-left: 6px;
	padding-top: 2px;
}

.shiniright a{
	font-size: 13px;
	text-decoration: none;
	font-family: Lucida sans;
	color: #114165;
}

.shinaright{
	position: absolute;
	padding: 2px;
	margin-top: 3px;
}

.shiniright form{
	font-size: 13px;
	font-family: Lucida sans;
	color: #114165;
	margin-left: 12px;
	
}

.shiniright input{
	margin-top: 10px;
}

.diskiright{
	position: relative;
	margin-top: 85px;
	margin-left: 15px;
	float: left;
	width: 148px;
	height: 27px;
	border: 1px solid #8b979c;
    border-radius: 15px;
}

.diskiright img{
	margin-left: 6px;
	padding-top: 2px;
}

.diskiright a{
	font-size: 13px;
	text-decoration: none;
	font-family: Lucida sans;
	color: #114165;
}

.diskright{
	position: absolute;
	padding: 2px;
	margin-top: 3px;
}

.diskiright form{
	font-size: 13px;
	font-family: Lucida sans;
	color: #114165;
	margin-left: 12px;
}

.diskiright input{
	margin-top: 10px;
}

.vibrat{
	position: relative;
	float: left;
	width: 81px;
	height: 25px;
	background-color: #164e70;
	text-align: center;
	border: 1px solid #8b979c;
	border-radius: 15px;
	margin-top: 90px;
	margin-left: 25px;
}

.vibrat a{
	text-decoration: none;
	color: #e5e9ea;
	font-family: Arial;
	font-size: 11px;
	position: absolute;
	left: 15px;
	top: 6px;
}

.central{
	position: relative;
	width: 525px;
	height: 628px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,e4e7e8+0,93a7b0+100,7db9e8+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #e4e7e8 0%, #93a7b0 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#e4e7e8 0%,#93a7b0 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#e4e7e8 0%,#93a7b0 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	float: left;
	border-radius: 3px;
}

.roll1{
	width: 136px;
	height: 126px;
	float: left;
	background-color: white;
	margin-left: 22px;
	margin-top: 44px;
	border: 1px solid #a4aeb1;
	border-radius: 7px;
}

.roll1 img{
	margin-left: 29px;
	margin-top: 4px;
}

.roll2{
	width: 136px;
	height: 126px;
	float: left;
	background-color: white;
	margin-left: 33px;
	margin-top: 44px;
	border: 1px solid #a4aeb1;
	border-radius: 7px;
}	

.roll2 img{
	margin-left: 34px;
	margin-top: 4px;
}

.roll3{
	width: 136px;
	height: 126px;
	float: left;
	background-color: white;
	margin-left: 33px;
	margin-top: 44px;
	border: 1px solid #a4aeb1;
	border-radius: 7px;
}

.roll3 img{
	margin-left: 27px;
	margin-top: 4px;
}

.roll4{
	width: 136px;
	height: 126px;
	float: left;
	background-color: white;
	margin-left: 22px;
	margin-top: 76px;
	border: 1px solid #a4aeb1;
	border-radius: 7px;
}

.roll4 img{
	margin-left: 29px;
	margin-top: 4px;
}

.roll5{
	width: 136px;
	height: 126px;
	float: left;
	background-color: white;
	margin-left: 33px;
	margin-top: 76px;
	border: 1px solid #a4aeb1;
	border-radius: 7px;
}

.roll5 img{
	margin-left: 34px;
	margin-top: 4px;
}

.roll6{
	width: 136px;
	height: 126px;
	float: left;
	background-color: white;
	margin-left: 33px;
	margin-top: 76px;
	border: 1px solid #a4aeb1;
	border-radius: 7px;
}

.roll6 img{
	margin-left: 27px;
	margin-top: 4px;
}

.roll7{
	width: 136px;
	height: 126px;
	float: left;
	background-color: white;
	margin-left: 22px;
	margin-top: 76px;
	border: 1px solid #a4aeb1;
	border-radius: 7px;
}

.roll7 img{
	margin-left: 29px;
	margin-top: 4px;
}

.roll8{
	width: 136px;
	height: 126px;
	float: left;
	background-color: white;
	margin-left: 33px;
	margin-top: 76px;
	border: 1px solid #a4aeb1;
	border-radius: 7px;
}

.roll8 img{
	margin-left: 34px;
	margin-top: 4px;
}

.roll9{
	width: 136px;
	height: 126px;
	float: left;
	background-color: white;
	margin-left: 33px;
	margin-top: 76px;
	border: 1px solid #a4aeb1;
	border-radius: 7px;
}

.roll9 img{
	margin-left: 27px;
	margin-top: 4px;
}

.rolltext1{
	position: absolute;
	font-family: Lucida sans;
	font-size: 14px;
	text-align: center;
	left: 28px;
	top: 10px;
}

.ultra{
	color: #1f2528;
}

.good{
	color: #206988;
}

.rolltext2{
	position: absolute;
	font-family: Lucida sans;
	font-size: 14px;
	text-align: center;
	left: 212px;
	top: 10px;
}

.nokian{
	color: #206988;
}

.hakka{
	color: #1f2528;
}

.rolltext3{
	position: absolute;
	font-family: Lucida sans;
	font-size: 14px;
	text-align: center;
	left: 369px;
	top: 10px;
}

.hankook{
	color: #206988;
}

.k708{
	color: #1f2528;
}

.rolltext4{
	position: absolute;
	font-family: Lucida sans;
	font-size: 14px;
	text-align: center;
	left: 28px;
	top: 214px;
}

.ultra2{
	color: #1f2528;
}

.good2{
	color: #206988;
}

.rolltext5{
	position: absolute;
	font-family: Lucida sans;
	font-size: 14px;
	text-align: center;
	left: 212px;
	top: 214px;
}

.nokian2{
	color: #206988;
}

.hakka2{
	color: #1f2528;
}

.rolltext6{
	position: absolute;
	font-family: Lucida sans;
	font-size: 14px;
	text-align: center;
	left: 369px;
	top: 214px;
}

.hankook2{
	color: #206988;
}

.k7082{
	color: #1f2528;
}

.rolltext7{
	position: absolute;
	font-family: Lucida sans;
	font-size: 14px;
	text-align: center;
	left: 28px;
	top: 418px;
}

.ultra3{
	color: #1f2528;
}

.good3{
	color: #206988;
}

.rolltext8{
	position: absolute;
	font-family: Lucida sans;
	font-size: 14px;
	text-align: center;
	left: 212px;
	top: 418px;
}

.nokian3{
	color: #206988;
}

.hakka3{
	color: #1f2528;
}

.rolltext9{
	position: absolute;
	font-family: Lucida sans;
	font-size: 14px;
	text-align: center;
	left: 369px;
	top: 418px;
}

.hankook3{
	color: #206988;
}

.k7083{
	color: #1f2528;
}

.c1{
	position: absolute;
	font-family: Arial;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	left: 61px;
	top: 175px;
	color: #114165;
}

.c2{
	position: absolute;
	font-family: Arial;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	left: 225px;
	top: 175px;
	color: #114165;
}

.c3{
	position: absolute;
	font-family: Arial;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	left: 392px;
	top: 175px;
	color: #114165;
}

.c4{
	position: absolute;
	font-family: Arial;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	left: 61px;
	top: 378px;
	color: #114165;
}

.c5{
	position: absolute;
	font-family: Arial;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	left: 225px;
	top: 378px;
	color: #114165;
}

.c6{
	position: absolute;
	font-family: Arial;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	left: 392px;
	top: 378px;
	color: #114165;
}

.c7{
	position: absolute;
	font-family: Arial;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	left: 61px;
	top: 582px;
	color: #114165;
}

.c8{
	position: absolute;
	font-family: Arial;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	left: 225px;
	top: 582px;
	color: #114165;
}

.c9{
	position: absolute;
	font-family: Arial;
	font-style: italic;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	left: 392px;
	top: 582px;
	color: #114165;
}

.marki{
	margin-top: 40px;
	margin-left: 162px;
}

.podval{
	width: 907px;
	height: 99px;
	background-color: #213a4d;
	margin-left: 52px;
	margin-top: 26px;
}

.menuniz a{
	font-size: 12px;
	font-family: Arial;
	text-decoration: none;
	color: #BEC6C9;
}

.menuniz a:hover{
	color: #52abcb;
}

.menuniz{
	padding-top: 12px;
    color: #BEC6C9;
    text-align: center;
}

.sozdan{
	font-size: 10px;
	font-family: Arial;
	color: #7f4740;
	text-align: center;
	margin-top: 15px;
}
